*{
    margin: 0;
    padding: 0;
    font-family: 'Julius Sans One', sans-serif;
}


   .navbar-nav{
        font-weight: 40px;
       float: right;
       z-index: 1;
   }
   /* .navbar-brand{
       margin-top: -10px;
   } */
   .carousel-inner .carousel-item {
       height: 600px;
       
   }

   .slide{
       margin-top: -220px;
     
   }
.navbar{
    z-index: 2;
}
.heading1{
   font-size: 3rem;
}

h3{
    font-size:2rem;
}
